In [1]:
print("Hello! Python!")

Hello! Python!

In [2]:
n = 10 #int
m = 5.0 #float
name = '賴安安' #str
is_google = True #bool

In [3]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
賴安安
True

In [4]:
#tuple 
t1 = (1,2,3,4,5)
print(type(t1))

t2 =('a','b','c')
t2

<class 'tuple'>

('a', 'b', 'c')

In [1]:
#tuple,暫時的資料
#tuple的內容不可以修改
#tuple最常使用在拆解法(拆解tuple,給變數)

(name,chinese,math,english) = ('賴安安',78,92,65)

In [2]:
print(name)
print(chinese)
print(math)
print(english)

賴安安
78
92
65

In [3]:
mylist=[1,2,3,4]
mylist

[1, 2, 3, 4]

In [4]:
print (type(mylist))

<class 'list'>