In [1]:
print("Hello! Python!")

Hello! Python!

In [2]:
n = 10 #int
m = 5.0 #float
name = '賴安安' #str
is_google = True #bool

In [3]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
賴安安
True

In [4]:
#tuple 
t1 = (1,2,3,4,5)
print(type(t1))

t2 =('a','b','c')
t2

<class 'tuple'>

('a', 'b', 'c')

In [1]:
#tuple,暫時的資料
#tuple的內容不可以修改
#tuple最常使用在拆解法(拆解tuple,給變數)

(name,chinese,math,english) = ('賴安安',78,92,65)

In [2]:
print(name)
print(chinese)
print(math)
print(english)

賴安安
78
92
65

In [3]:
mylist=[1,2,3,4]
mylist

[1, 2, 3, 4]

In [4]:
print (type(mylist))

<class 'list'>

In [8]:
student1= ['賴安安',78,92,65]
student1

['賴安安', 78, 92, 65]

In [11]:
#subscript
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

賴安安
78
92
65

In [12]:
#list iterable
for element in student1:
    print(element)

賴安安
78
92
65

In [13]:
greeting='Hello!Python!'
for ele in greeting:
    print(ele)

H
e
l
l
o
!
P
y
t
h
o
n
!

In [15]:
#dictionary
stu1={'name':'賴安安','chinese':78,'math':92,'english':65}

stu1

{'name': '賴安安', 'chinese': 78, 'math': 92, 'english': 65}

In [16]:
print(type(stu1))

<class 'dict'>

In [19]:
for key in stu1:
    print(stu1[key])

賴安安
78
92
65